/* 
main black - #2d3436 

*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(42, 43, 42);
}

.header, .input-wrapper {
  max-width: 2460px;
}

.app {
  font-family: sans-serif;
  text-align: center;
  /* background-image: url("https://images.unsplash.com/photo-1509936819579-801e30d21cae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); */
  background-repeat: no-repeat;
  background-color: rgb(42, 43, 42);
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
  max-width: 2460px;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

h1 {
  margin: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h4 {
  opacity: 1;
  margin: 0.5rem;
  transition: all 1s ease-in;
}
.header {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: unset;
  z-index: 2;
  margin: 0;
  height: 10vh;
  padding: 10px 0;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.input-wrapper {
  height: 11vh;
  position: fixed;
  z-index: 2;
  padding: 0 10%;
  bottom: 0;
  padding-top: 1vh;
  width: 100%;
  background-color: unset;
  /* border-top:1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


@media only screen and (max-width: 700px){
.input-wrapper {
  padding-left: 0;
  padding-right: 0;
}
}

@media only screen and (max-width: 1920px){
  .input-wrapper {
    padding-left: 20%;
    padding-right: 20%;
  }
  }

.name-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 90%;
}

.name-wrapper h4 {
  margin: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

input.name {
  font-size: 1.2rem;
  max-width: 200px;
  width: 100%;
  background: none repeat scroll 0 0 #fff;
    border-color: #2d3436 ;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 1.4em;
    padding: 5px 8px;
}

textarea.message {
  font-size: 1rem;
  padding: 10px;
  border: 1px black solid;
  border-radius: 35px 35px 35px 35px;
  height: 80%;
  width: 50%;
  height: 92%;
  width: 54%;
  margin-bottom: 10px;
  outline: none;
  resize: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #fff;
  border-color: #fff;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea.message:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

.messages-wrapper {
  height: 79vh;
   background-image: url("./bg.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center;
  position: absolute;
  top: 10vh;
  bottom: 11vh;
  z-index: 0;
  width: 100%;
  overflow-y: scroll;
}
/* overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

.messages-wrapper > div:last-child {
  scroll-snap-align: end;
} */

.message-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
  text-align: left;
  width: 100%;
}

.message-wrapper.owner {
  align-items: flex-end;
  padding: 10px 5%;
  text-align: right;
}

.message-content {
  background-color: lightgoldenrodyellow;
  margin: 0.2rem;
  min-width: 20%;
  width: fit-content;
  border-radius: 10px 30px 30px 30px;
  padding: 1% 2%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: unset; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}
 

.message-wrapper.owner .message-content {
  background-color: azure;
  border-radius: 30px 10px 30px 30px;
}

.message-content .info {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30%;
  /* margin: 0.5rem; */
  margin-bottom: 20px;
  font-size: 1rem;
  justify-content: space-between;
}

.message-content .name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
}

.message-content .time {
  color: grey;
}

.message-content .message {
  text-align: left;
  font-size: 1.1rem;
}

.message-content * {
  margin: 0.2rem;
}

/*  */
button{
background: #fff;
border-radius: 60px;
width: 10%;
height: 50%;
overflow: hidden;
font-family: "Montserrat", sans-serif;
font-size: 1rem;
position: relative;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
/* border: none; */
padding: 0;
outline-width: 0;
transition: .2s linear;
}

button.send {
    border-radius: 100%;
    width: 70px;
    height: 64%;
}

button.send:hover {
  border-radius: 60px;
  width: 10%;
  height: 50%;

}




.close {
  width: 50%;
  border-radius: 6px 6px 6px 6px;
  padding: 6px;
  /* height: 30%; */
}

.close:hover {
  width: 100%;
}

.close span {
  border-radius: 6px 6px 6px 6px;
  padding: 6px;
}

button:focus {
  outline-width: 0;
}
button:hover{
transform: scale(1.03);
}
button i {
  font-size: 2rem;
}
button span{
position: absolute;
width: 100%;
height: 100%;
top:0;
bottom: 0;
right: 0;
left: 0;
background: #2d3436;
color: #f1f1f1;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
z-index: 100;
transition: .4s linear;
border-radius: 60px;

}
button:hover span{
transform: translateX(-100%);
transition-delay: .3s;
}
